@inject IConfiguration config
@inject IWebHostEnvironment env
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome V2</h1>
    <p>ENV: @env.EnvironmentName</p>
    <p>Test: @config["Test"]</p>
</div>
